<div class="page-wrap">
  <div class="catch-container">
    <div class="catch-phrase">
      <h1>CONECPETS</h1>
      <h2>愛犬、愛猫の兄弟とつながる</h2>
    </div>
  </div>
</div>
<div class="web_intro">
  <div class="intro_back">
    <h1>CONECPETS</h1>
    <h2>愛犬、愛猫の兄弟とつながる</h2>
    <h3>
      このサイトはペットを飼っている方なら一度は『この子の家族はどんな子なのかな見てみたいな』と思ったことがあると思います。
      だったらこんなサービスがあってもいいじゃないか！ということで作成しました。<br>
      どうしたら兄弟が見つかるかと考えたところ、
      兄弟や家族を探したい方皆さんにご自身のペットの情報を投稿していただいて、お互いに探し合うという方法が良いと考えたので、
      投稿型愛犬、愛猫の家族検索サイトにしました。ですのでまずはマイペットの登録をしてみんなで家族を探しやすい環境つくりをしていきましょう。
      家族を見つけた際に繋がれるようにご使用のSNS等のURLをユーザーの自己紹介欄やペットの追加情報に載せると良いかと思います。
    </h3>
  </div>
</div>
