/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
  margin: 0;
  font-family: 'Hiragino Maru Gothic ProN';
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active{
  color: inherit;
}

b,
strong {
  font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
  box-sizing: content-box;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

option {
  padding: 0;
}

textarea {
  overflow: auto;
}

/* Table */
/* ============================================ */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

[hidden] {
  display: none;
}

/*header*/
.brand {
  font-weight: bold;
  font-size: 22px;
}

.site-header {
  position: relative;
  padding: 0 30px;
  color: white;
  background-color: rgb(184, 134, 70);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 600px) {
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  } 
}
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(184, 135, 70, 0.7);
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav__wrapper.active {
  visibility: visible;
  font-size: 12px;
  opacity: 1;
  z-index: 2;
  text-align: right;
  transform: translateY(0);
  }
}

.nav__item a {
  display: block;
  padding: 0 1rem;
}

.nav__toggle {
  display: none; 
}

@media (max-width: 599px) {
header{
  padding: 0 20px;
}
  .nav__toggle {
    display: block;
    position: absolute;
    right: 30px;
    top: 17px; 
  }
  .icon{
    overflow: hidden;
  }
  .icon-img{
    object-fit: cover;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
  }
  .not-login-img{
    object-fit: cover;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}
/*header*/
/*footer*/
footer{
  text-align: center;
  height: 48px;
  line-height: 48px;
  background-color: rgb(184, 134, 70);
  color: white;
}
/*footer*/
/*common*/
.container{
  padding: 50px 80px;
}